# data
InitialAIG/
lib/
project_data/
project_data2/
*.pkl
*.log
cache_task1/
*.aig
buffer/

# environment
yosys/
abc_py/
abc/
cmake_example/
python_example/

# cache
**/__pycache__/
*.history
wandb/

# checkpoints
*.pth

